{% extends "/partials/_base.html" %}

{% block title %}- Login{% endblock title %}

{% block content %}

{% with messages = get_flashed_messages(with_categories=true) %}
  <div class="row justify-content-center">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <h1 class="display-3">Login</h1>
      {% if messages %}
        {% for category, message in messages %}
          {% if category == 'auth' %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
              {{ message }}
              <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
          {% endif %}
        {% endfor %}
      {% endif %}
      <div class="card shadow">
        <form action="{{ url_for('login') }}" method="POST">
          <div class="card-body">
            <div class="mb-3">
              <label for="email" class="form-label">Email Address:</label>
              <input type="text" name="email" id="email" class="form-control" />
              {% if messages %}
                {% for category, message in messages %}
                  {% if category == 'email' %}
                    <span class="form-text text-danger">{{ message }}</span>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
            <div class="mb-3">
              <label for="password" class="form-label">Password:</label>
              <input type="password" name="password" id="password" class="form-control" />
              {% if messages %}
                {% for category, message in messages %}
                  {% if category == 'password' %}
                    <span class="form-text text-danger">{{ message }}</span>
                  {% endif %}
                {% endfor %}
              {% endif %}
            </div>
          </div>
          <div class="card-footer d-flex justify-content-end align-items-center gap-2">
            <button type="reset" class="btn btn-secondary">Reset</button>
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endwith %}

{% endblock content %}